<div class="quiz-control mb-3">
    <form class="mb-2">
        <div class="form-group">
            <input type="text" id="answer" class="form-control" placeholder="정답을 입력하시오.">
        </div>
    </form>

    <div class="buttons mb-3">
        <button type="button" class="btn btn-secondary me-1" id="check">채점</button>
        <div class="toggle-answer d-inline">
            <button type="button" class="btn btn-warning me-1" id="show-answer">정답 보이기</button>
            <button type="button" class="btn btn-warning" id="hide-answer">정답 숨기기</button>
        </div>
    </div>

    <div class="prompts d-none">
        <blockquote class="prompt-tip correct">
            <p>정답입니다</p>
        </blockquote>

        <blockquote class="prompt-warning incorrect">
            <p>오답입니다</p>
        </blockquote>
    </div>

    <script>window.addEventListener("load",(()=>{console.log("loading quiz-controller.");const e=document.querySelector("div.quiz-control"),s=document.querySelectorAll(".quiz-answer"),r=e.querySelector("input#answer"),o=e.querySelector("button#check"),i=e.querySelector("div.toggle-answer"),n=e.querySelector("div.prompts");if(!("quiz_plugin_answer"in window))return e.remove(),console.error("error loading quiz-controller."),void console.error("answer is not set correctly. please set answer in window.quiz_plugin_answer.");const l=window.quiz_plugin_answer;let t=!1;const c=(e=!0)=>{for(const r of s)e?r.classList.add("quiz-answer-visible"):r.classList.remove("quiz-answer-visible")};i.addEventListener("click",(()=>{t=!t,c(t),t?i.classList.add("answer-visible"):i.classList.remove("answer-visible")})),o.addEventListener("click",(()=>{n.classList.remove("d-none"),l===r.value&&(o.disabled=!0,r.disabled=!0,i.classList.add("d-none"),n.classList.add("correct"),c())}))}));</script>
</div>
<style>
    /* visiblilty of answer */
    .quiz-answer:not(.quiz-answer-visible) {
        display: none;
    }

    /* visiblilty of prompts */
    .prompts.correct .incorrect {
        display: none;
    }

    /* visiblilty of prompts */
    .prompts:not(.correct) .correct {
        display: none;
    }

    /* visiblilty of toggle answer button */
    .toggle-answer.answer-visible #show-answer {
        display: none;
    }

    /* visiblilty of toggle answer button */
    .toggle-answer:not(.answer-visible) #hide-answer {
        display: none;
    }
</style>